
@{
    ViewBag.Title = "Магазин букетов \"Василёк\". О нас";
}
<link rel="stylesheet" href="~/css/about.css">
<div class="content">
    <p>
        Наш интернет-магазин - это гарантия качества всех услуг. <br> Оплата производится как наличными, так и онлайн
        платежами.<br> Оформите заказ у нас и мы позаботимся о том, чтобы заказ был выполнен быстро, а цветы были свежими.
        Каждый букет собирается на воде и на момент доставки ему не более 4х часов.<br> Наша компания гарантирует качество,
        свежие цветы и своевременность выполнения заказа. Мы заботимся о каждом клиенте и, соответственно, о своей
        репутации.
    </p>
    <p class="p_head">Почему мы?</p>
    <p>
        В центре внимания — радость получателей и доверие клиентов. Поэтому мы всегда действуем в ваших интересах:
        индивидуально рассматриваем каждую претензию, создаём удобный сервис и ежедневно совершенствуемся.
    </p>
    <p class="p_head">Возможна ли доставка на дом?</p>
    <p>
        В нашем интернет-магазине вы можете заказать доставку цветов. Придя к нам в салон, вы можете купить розы,
        сборные букеты из других цветов для своих любимых и близких, а так же оформить доставку на удобное время.
        После вручения букета вы получаете фотоотчет.
    </p>
</div>

