
@{
    ViewBag.Title = "Магазин букетов \"Василёк\".Статья.";
}
<link rel="stylesheet" href="~/css/article.css">
<div class="content">
    <div class="article_left_block">
        <h1>Собираем полевой букет</h1>
        <img src="~/images/text1.jpg">
    </div>
    <div class="article_text_block">
        <p class="article_text">
            Букет из полевых цветов – это непревзойденный и оригинальный подарок, которым можно
            порадовать самых любимых и близких людей. Каждая такая композиция будет по-настоящему уникальной, ведь
            повторить подобное сочетание будет чрезвычайно сложно. А эмоции и летнее настроение, подаренные столь
            романтичным букетом, уж точно поразят каждого.
        </p>
        <h2>Как собрать букет?</h2>
        <p class="article_text">
            В первую очередь разберем, как собрать букет из полевых
            цветов, согласно рекомендациям флористов, чтобы он выглядел великолепно. Подбирать составляющие можно,
            начиная с конца апреля и до поздней осени. Ведь каждый месяц природа будет радовать нас новыми красотами
            и дарить возможность создавать неповторимые сюрпризы.
        </p>
        <h2>Композиция</h2>
        <p class="article_text">
            Для полевой композиции можно подбирать представителей одного вида или же комбинировать различные
            растения с пестрой цветовой гаммы.
        </p>
        <h3>Оттенки цветов</h3>
        <p class="article_text">
            Букеты полевых цветов, фото которых ярко отображают их красоту и изысканность, отличаются от покупных из садовых и
            оранжерейных культур разнообразием оттенков.
        </p>
        <h3>Тип цветов</h3>
        <p class="article_text">
            Букеты составляются из разных полевых трав и цветов. На фотографиях можно увидеть, красивые моно-композиции, а также
            фантазийные сочетания различных представителей богатой флоры. Прежде чем приступить к сбору цветов и составлению букетов,
            необходимо знать, какие из них можно использовать, а какие – нет. Следует отметить, что в разных регионах списки «запретных»
            цветов могут иметь различия.
        </p>
        <h3>Количество цветов</h3>
        <p class="article_text">
            Полевые цветы хороши своей естественной природной красотой и нежностью. Букеты из них могут содержать разное количество цветов.
            Во флористике считается, что в классическом букете должно быть не более 3-х видов цветов. В полевом могут прекрасно сочетаться
            многообразие культур и разнотравья.
        </p>
    </div>
</div>