
@{
    ViewBag.Title = "Магазин букетов \"Василёк\". Доставка букетов.";
}
<link rel="stylesheet" href="~/css/delivery.css">
<div class="content">
    <h1>Доставка букетов</h1>
    <p>
        Вы можете оформить самовывоз любого понравившегося на сайте букета из магазина по адресу г. Самара, ул.
        Ленинградская, д.17 или подобрать самостоятельно уже на месте. График работы магазина с 9-00 до 21-00. Вы
        можете проконсультироваться с менеджером по номеру телефона 8(901)***-**-**.
    </p>
    <div class="block">
        <h2>Доставка к точному времени</h2>
        <p>
            Время: ежедневно с 09:00 до 21:00<br>
            Стоимость: 500р
        </p>
    </div>
    <div class="block">
        <h2>Экспресс доставка</h2>
        <p>
            Время: ежедневно с 10:00 до 20:00<br>
            Стоимость: 1500р
        </p>
    </div>
    <p>Конфиденциальность</p>
    <p>
        При передаче заказа курьер говорит получателю о том, что ему доставлен оплаченный букет.
        Мы не сообщаем имя заказчика или иные сведения. Если вы желаете передать получателю какую-либо информацию, у
        вас есть возможность указать её в открытке, прилагающейся к цветам.
    </p>
</div>

