
@{
    ViewBag.Title = "Магазин букетов \"Василёк\". Оплата.";
}

<link rel="stylesheet" href="~/css/pay.css">
<div class="content">
    <h1>Способы оплаты</h1>
    <p>
        Мы стараемся сделать процесс оформления заказа максимально быстрым, комфортным и безопасным.<br>
        В магазине букетов "Василёк" вы можете выбрать для себя наиболее удобный способ оплаты заказа.
    </p>
    <div class="block">
        <h2>Наличными курьеру или в салоне</h2>
        <p>Вы можете оплатить заказ при получении курьеру наличными или картой.</p>
    </div>
    <div class="block">
        <h2>Банковские карты</h2>
        <p>
            Реквизиты для безналичной оплаты:<br>
            Название компании: ООО "Василёк"<br>
            ИНН/КПП: 77134440000000000000<br>
            ФИЛИАЛ ЦЕНТРАЛЬНЫЙ ПАО БАНКА "ФК ОТКРЫТИЕ"<br>
            БИК: 044000000<br>
            р/с: 40700000000000000000<br>
            корр/с: 30000000000000000000<br>
        </p>
    </div>
    <p>
        Заказ будет выполнен по факту поступления денег на наш расчетный счет.
        Обращаем ваше внимание, что срок поступления средств составляет до трёх банковских дней.
        Если вы хотите ускорить выполнение заказа, отправьте нам по почте копию платежного документа.
    </p>

</div>