
@{
    ViewBag.Title = "Магазин букетов \"Василёк\". Акции.";
}
<link rel="stylesheet" href="~/css/sales.css">
<div class="content">
    <div id="sale1">
        <img src="~/images/sales_1.png">
        <h1>101 роза со скидкой 25%</h1>
        <p>
            Удивите любимую девушку с выгодой! Закажите букет из 101 розы у нас со скидкой и мы доставим его сегодня
            же! <br> Акция действует с 20.10.2021 по 10.11.2021
        </p>
    </div>
    <div id="sale2">
        <img src="~/images/sales_2.png">
        <h1>Упаковка букета в подарок!</h1>
        <p>
            Купите букет на сумму более 4000р и получите роскошную упаковку в подарок! Множество вариантов и
            расцветок в наличии!<br> Акция действует с 1.10.2021 по 31.10.2021
        </p>
    </div>
</div>

